/* @import "style/leptonic/leptonic-themes"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1,
      "cv01" 1,
      "cv09" 1,
      "cv02" 1,
      "cv03" 1,
      "cv04" 1;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
      font-feature-settings:
        "cv01" 1,
        "cv09" 1,
        "cv02" 1,
        "cv03" 1,
        "cv04" 1;
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* amber theme */
  .dark {
    --background: 22.23% 0.006 271.14;
    /* my slightly darker version (900) */
    /* --background: 20.5% 0.006 271.14; */
    /* my even darker version (950) */
    /* --background: 14.5% 0.006 271.14; */
    --foreground: 92.76% 0.0058 264.53;
    --card: 25.11% 0.0064 258.36;
    --card-foreground: 92.76% 0.0058 264.53;
    /* neutral-500 equivalent */
    /* --popover: 54% 0.0064 258.36; */
    --popover: 22.23% 0.006 271.14;
    --popover-foreground: 92.76% 0.0058 264.53;
    --primary: 82.46% 0.1358 76.72;
    --primary-foreground: 22.23% 0.006 271.14;
    --secondary: 28.92% 0.0056 271.22;
    --secondary-foreground: 92.76% 0.0058 264.53;
    --muted: 28.92% 0.0056 271.22;
    --muted-foreground: 71.37% 0.0192 261.32;
    --accent: 78.37% 0.1587 72.99;
    --accent-foreground: 100% 0 0;
    /* --destructive: 0 62.8% 30.6%; */
    /* --destructive-foreground: 0 0% 98%; */
    --border: 37.03% 0.0119 285.81;
    --input: 37.03% 0.0119 285.81;
    --ring: 78.37% 0.1587 72.99;
    /* --chart-1: 220 70% 50%; */
    /* --chart-2: 160 60% 45%; */
    /* --chart-3: 30 80% 55%; */
    /* --chart-4: 280 65% 60%; */
    /* --chart-5: 340 75% 55%; */
  }

  /* shadcn-like theme */
  /* .dark { */
  /*   --background: 14.5% 0 0; */
  /*   --foreground: 95% 0 0; */
  /*   --card: 14.5% 0 0; */
  /*   --card-foreground: 95% 0 0; */
  /*   --popover: 14.5% 0 0; */
  /*   --popover-foreground: 95% 0 0; */
  /*   --primary: 95% 0 0; */
  /*   --primary-foreground: 2% 0 0; */
  /*   --secondary: 27% 0 0; */
  /*   --secondary-foreground: 95% 0 0; */
  /*   --muted: 27% 0 0; */
  /*   --muted-foreground: 71% 0.01 271; */
  /*   --accent: 78.37% 0.1587 72.99; */
  /*   --accent-foreground: 100% 0 0; */
  /*   --border: 27% 0 0; */
  /*   --input: 27% 0 0; */
  /*   --ring: 78.37% 0.1587 72.99; */
  /* } */
}

@layer base {
  * {
    @apply border-border;
  }

  a {
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring rounded-xs;
  }

  body {
    @apply antialiased box-content h-screen;
    @apply max-w-5xl mx-auto;
    /* @apply dark bg-neutral-900 text-neutral-200; */
    @apply dark bg-background text-foreground;
    /* font-feature-settings: "kern"; */
  }

  button {
    font-size: 13.3333px;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
    @apply cursor-default;
    @apply inline-flex justify-center items-center align-middle;
    @apply font-medium leading-none py-1 px-2;
    @apply border border-solid border-transparent rounded-xs;
    @apply hover:brightness-95 disabled:hover:brightness-100;
    @apply focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
    /* @apply hover:bg-[oklch(0.612_0_0)] disabled:hover:bg-neutral-500; */
    /* @apply active:bg-[oklch(0.500_0_0)] disabled:active:bg-neutral-500; */
  }

  input,
  select {
    font-size: 13.3333px;
    @apply disabled:opacity-50 disabled:cursor-not-allowed;
    @apply p-1 leading-tight bg-input placeholder:text-muted-foreground rounded-xs;
    @apply border border-solid border-border;
    @apply focus-visible:outline-none focus-visible:border-transparent focus-visible:ring-1 focus-visible:ring-ring;
  }

  dialog {
    @apply p-4 rounded-none border-2 border-solid;
    @apply bg-white text-black border-black;
    @apply dark:bg-black dark:text-white dark:border-white;
  }

  /* select { */
  /*   @apply text-[13.3333px] bg-background text-foreground dark; */
  /* } */
  /**/
  /* select>option { */
  /*   @apply bg-accent text-accent-foreground dark; */
  /* } */

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h3 {
    display: block;
    font-size: 1.17rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
}

/* Base styles */
html {
  /* scroll-behavior: smooth; */
  text-rendering: optimizelegibility;
  /* font-family: */
  /*   Inter, */
  /*   Segoe UI, */
  /*   SegoeUI, */
  /*   Helvetica Neue, */
  /*   Helvetica, */
  /*   Arial, */
  /*   sans-serif; */
  color-scheme: dark;
}

/* .card { */
/*   background-color: rgba(255, 255, 255, 0.8); */
/*   border: 1px solid #e0e0e0; */
/*   border-radius: 8px; */
/*   padding: 20px; */
/*   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
/* } */

/* select>option { */
/*   @apply bg-neutral-600 text-white; */
/* } */

::selection {
  @apply bg-pine text-white;
}

/* First N children */
/* ._chartistry svg g g rect:nth-child(-n+5) { */
/*     fill: blue; */
/* } */

/* Last N children */
/* ._chartistry svg g g rect:nth-last-child(-n+5) { */
/*     fill: red; */
/* } */

/* ._chartistry aside table tbody tr td:first-child { */
/*     display: none; */
/* } */

._chartistry svg g g rect {
  rx: 2px;
}

._chartistry svg g g rect:hover {
  @apply brightness-150;
}

._chartistry aside table tbody tr td ._chartistry_snippet ._chartistry_taster {
  display: none;
}

._chartistry_tick_label {
  @apply text-neutral-200 stroke-neutral-500 fill-neutral-500;
}

._chartistry_tooltip {
  @apply !p-3 !bg-neutral-700/40 !rounded !border-none;
  backdrop-filter: blur(8px);
  transform: translateY(-50%) translateX(117%) !important;
}

@layer components {
  .menu-button {
    @apply inline-flex justify-start items-center box-border;
    @apply w-full h-10 px-3 py-1 rounded;
    @apply text-popover-foreground text-base font-semibold hover:bg-secondary transition-colors ease-linear;
  }

  .menu-button>svg {
    @apply stroke-muted-foreground;
  }

  .menu-button> :first-child {
    margin-right: 0.75rem;
  }

  .menu-button> :last-child {
    margin-left: auto;
  }
}

/* Container to position the toasts */
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

/* Toast styles */
.toast {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  animation:
    slide-in 0.5s ease-out forwards,
    fade-out 0.5s 3.5s ease-out forwards;
}

/* Keyframes for sliding in */
@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for fading out */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

#mainTitle:hover {
  transform: rotate(2deg);
}

a[aria-current] {
  /* font-weight: bold; */
  @apply text-foreground;
}

a[aria-current]>button {
  @apply text-foreground bg-background;
}

/* microsoft docs blue */
nav a {
  /* color: #75b6e7; */
  @apply text-muted-foreground;
  @apply px-3 py-1.5 no-underline leading-none;
}

@media (hover: hover) {
  a:hover {
    @apply md:underline;
  }

  nav a:hover {
    /* color: #278cda; */
    @apply underline;
  }
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/mountains2.webp") center / cover no-repeat fixed;
  z-index: -1;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    @apply bg-neutral-900 text-neutral-50;
  }

  nav a {
    @apply px-2 py-1 no-underline;
    color: #0065b3;
  }

  nav a:hover {
    color: #0065b3;
    @apply underline;
  }
}

/* code { */
/*   font-family: */
/*     JetBrains Mono, */
/*     monospace; */
/*   font-size: 1rem; */
/*   color: #75b6e7; */
/*   background-color: rgb(117 182 231 / 0.3); */
/*   padding-top: 0.125rem; */
/*   padding-bottom: 0.125rem; */
/*   padding-left: 0.25rem; */
/*   padding-right: 0.25rem; */
/*   border-radius: 0.25rem; */
/* } */

/* ::backdrop { */
/*   --tw-border-spacing-x: 0; */
/*   --tw-border-spacing-y: 0; */
/*   --tw-translate-x: 0; */
/*   --tw-translate-y: 0; */
/*   --tw-rotate: 0; */
/*   --tw-skew-x: 0; */
/*   --tw-skew-y: 0; */
/*   --tw-scale-x: 1; */
/*   --tw-scale-y: 1; */
/*   --tw-pan-x: ; */
/*   --tw-pan-y: ; */
/*   --tw-pinch-zoom: ; */
/*   --tw-scroll-snap-strictness: proximity; */
/*   --tw-gradient-from-position: ; */
/*   --tw-gradient-via-position: ; */
/*   --tw-gradient-to-position: ; */
/*   --tw-ordinal: ; */
/*   --tw-slashed-zero: ; */
/*   --tw-numeric-figure: ; */
/*   --tw-numeric-spacing: ; */
/*   --tw-numeric-fraction: ; */
/*   --tw-ring-inset: ; */
/*   --tw-ring-offset-width: 0px; */
/*   --tw-ring-offset-color: #fff; */
/*   --tw-ring-color: rgb(59 130 246 / 0.5); */
/*   --tw-ring-offset-shadow: 0 0 #0000; */
/*   --tw-ring-shadow: 0 0 #0000; */
/*   --tw-shadow: 0 0 #0000; */
/*   --tw-shadow-colored: 0 0 #0000; */
/*   --tw-blur: ; */
/*   --tw-brightness: ; */
/*   --tw-contrast: ; */
/*   --tw-grayscale: ; */
/*   --tw-hue-rotate: ; */
/*   --tw-invert: ; */
/*   --tw-saturate: ; */
/*   --tw-sepia: ; */
/*   --tw-drop-shadow: ; */
/*   --tw-backdrop-blur: ; */
/*   --tw-backdrop-brightness: ; */
/*   --tw-backdrop-contrast: ; */
/*   --tw-backdrop-grayscale: ; */
/*   --tw-backdrop-hue-rotate: ; */
/*   --tw-backdrop-invert: ; */
/*   --tw-backdrop-opacity: ; */
/*   --tw-backdrop-saturate: ; */
/*   --tw-backdrop-sepia: ; */
/*   --tw-contain-size: ; */
/*   --tw-contain-layout: ; */
/*   --tw-contain-paint: ; */
/*   --tw-contain-style: ; */
/* } */

/* .floating-menu dialog[open] { */
/*   opacity: 1; */
/*   transform: scale(1); */
/* } */

.floating-menu dialog {
  opacity: 0;
  transform: scale(0.5);
  transition: all 300ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

@starting-style {
  .floating-menu dialog[open] {
    opacity: 1;
    transform: scale(1);
  }
}

/* Open state of the dialog */
dialog[open] {
  opacity: 1;
  transform: scale(1);
}

/* Closed state of the dialog */
dialog {
  opacity: 0;
  transform: scale(0.5);
  transition: all 300ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

/* Before-open state */
/* Needs to be after the previous dialog[open] rule to take effect, */
/* as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog[open]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 25%);
  /* background-image: linear-gradient(to top right, */
  /*     rgb(245 158 11 / 0.3), */
  /*     rgb(59 130 246 / 0.3)); */
}

dialog::backdrop {
  backdrop-filter: blur(0px);
  background-color: rgb(0 0 0 / 0%);
  transition: all 150ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

/* This starting-style rule cannot be nested inside the above selector */
/* because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  dialog[open]::backdrop {
    backdrop-filter: blur(0px);
    background-color: rgb(0 0 0 / 0%);
  }
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.btn {
  @apply font-bold py-2 px-4;
}

.success {
  background-color: green;
}

.error {
  color: #efd9fd;
  background-color: #3b2e58;
  border: 1px solid #3b2e58;
  padding: 1rem 1rem;
}

.error p,
ul {
  margin-block: 0;
}

.fadeIn {
  animation: 300ms fadeIn cubic-bezier(0.2, 0, 0, 1);
  /* Hold final state of animation */
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: 150ms fadeOut cubic-bezier(0.3, 0.1, 1, 1);
  /* Hold final state of animation */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* transitionTimingFunction: { */
/* 	'standard': 'cubic-bezier(0.2, 0, 0, 1)', */
/* 	'standard-decelerate': 'cubic-bezier(0, 0, 0, 1)', */
/* 	'standard-accelerate': 'cubic-bezier(0.3, 0.1, 1, 1)', */
/* 	'emphasized-decelerate': 'cubic-bezier(0.05, 0.7, 0.1, 1.0)', */
/* 	'emphasized-accelerate': 'cubic-bezier(0.3, 0.0, 0.8, 0.15)' */
/*  'easy-ease': 'cubic-bezier(0.33, 0, 0.67, 1)' */
/* } */

.slideIn {
  animation: 450ms slideIn cubic-bezier(0.2, 0, 0, 1);
}

.slideOut {
  animation: 200ms slideOut cubic-bezier(0.2, 0, 0, 1);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100px, 0px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    opacity: 0;
    transform: translate(-100px, 0);
  }
}

.slideInBack {
  animation: 450ms slideInBack cubic-bezier(0.2, 0, 0, 1);
}

.slideOutBack {
  animation: 200ms slideOutBack cubic-bezier(0.2, 0, 0, 1);
}

@keyframes slideInBack {
  from {
    opacity: 0;
    transform: translate(-100px, 1);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideOutBack {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    opacity: 0;
    transform: translate(100px, 0);
  }
}

/* View Transitions CSS */

.router-outlet-0 main {
  view-transition-name: main;
}

.router-back main {
  view-transition-name: main-back;
}

.router-outlet-1 .pools-group {
  view-transition-name: outlet-1;
}

.router-outlet-2 .pool-tab-group {
  view-transition-name: outlet-2;
}

.router-outlet-3 .liquidity-group {
  view-transition-name: outlet-3;
}

::view-transition-old(outlet-1) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both scale-out;
}

::view-transition-new(outlet-1) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both scale-in;
}

::view-transition-old(outlet-2) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(outlet-2) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* ::view-transition-old(main) { */
/*   animation: 200ms slideOut cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-new(main) { */
/*   animation: 450ms slideIn cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-old(main-back) { */
/*   color: red; */
/*   animation: 200ms slideOutBack cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-new(main-back) { */
/*   color: blue; */
/*   animation: 450ms slideInBack cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(30px);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-30px);
  }
}

@keyframes scale-in {
  from {
    transform: scale(80%);
  }
}

@keyframes scale-out {
  to {
    transform: scale(110%);
  }
}

::view-transition-old(main) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(main-back) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

::view-transition-new(main-back) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

::view-transition-old(outlet-3) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(outlet-3) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* ::view-transition-old(main), */
/* ::view-transition-new(main) { */
/*   animation-duration: 1s; */
/* } */
/**/
/* ::view-transition-old(outlet-1), */
/* ::view-transition-new(outlet-1) { */
/*   animation-duration: 0.5s; */
/* } */
/**/
/* ::view-transition-old(outlet-2), */
/* ::view-transition-new(outlet-2) { */
/*   animation-duration: 0.25s; */
/* } */
/**/
/* ::view-transition-old(outlet-3), */
/* ::view-transition-new(outlet-3) { */
/*   animation-duration: 0.15s; */
/* } */

@media (prefers-reduced-motion) {

  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
