/* @import "style/leptonic/leptonic-themes"; */

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @layer base { */
:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

.dark {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 47.9 95.8% 53.1%;
  --primary-foreground: 26 83.3% 14.1%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 35.5 91.7% 32.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

/* } */

/* @layer base { */
/* * { */
/*   @apply border-[hsl(var(--border))]; */
/* } */

body {
  @apply antialiased;
  @apply max-w-5xl mx-auto px-2 sm:px-4;
  @apply dark bg-zinc-900 text-zinc-100;
  font-feature-settings: "kern";
}

/* } */

:root {
  /* Filters */
  --tw-blur: blur(0);
  --tw-brightness: brightness(1);
  --tw-contrast: contrast(1);
  --tw-grayscale: grayscale(0);
  --tw-hue-rotate: hue-rotate(0deg);
  --tw-invert: invert(0);
  --tw-saturate: saturate(1);
  --tw-sepia: sepia(0);
  --tw-drop-shadow: drop-shadow(0 0 #0000);

  /* Spacing */
  --tw-space-x-reverse: 0;
  --tw-space-y-reverse: 0;

  /* Borders */
  --tw-border-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;

  /* Shadows */
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;

  /* Transforms */
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;

  /* Transitions */
  /* --tw-ring-inset: var(--tw-empty, ??? ); */
  /* --tw-ring-offset-width: 0px; */
  /* --tw-ring-offset-color: #fff; */
  /* --tw-ring-color: rgba(59, 130, 246, 0.5); */
  /* --tw-ring-opacity: 1; */
  /* --tw-ring-width: 0px; */

  /* Backgrounds */
  /* --tw-bg-opacity: 1; */
  /* --tw-text-opacity: 1; */
}

/* Base styles */
html {
  /* scroll-behavior: smooth; */
  /* text-rendering: optimizelegibility; */
  font-family:
    Segoe UI,
    SegoeUI,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  color-scheme: dark;
}

/* .card { */
/*   background-color: rgba(255, 255, 255, 0.8); */
/*   border: 1px solid #e0e0e0; */
/*   border-radius: 8px; */
/*   padding: 20px; */
/*   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
/* } */

/* select>option { */
/*   @apply bg-zinc-600 text-white; */
/* } */

::selection {
  @apply bg-pine text-white;
}

/* First N children */
/* ._chartistry svg g g rect:nth-child(-n+5) { */
/*     fill: blue; */
/* } */

/* Last N children */
/* ._chartistry svg g g rect:nth-last-child(-n+5) { */
/*     fill: red; */
/* } */

/* ._chartistry aside table tbody tr td:first-child { */
/*     display: none; */
/* } */

._chartistry svg g g rect {
  rx: 2px;
}

._chartistry svg g g rect:hover {
  @apply brightness-150;
}

._chartistry aside table tbody tr td ._chartistry_snippet ._chartistry_taster {
  display: none;
}

._chartistry_tick_label {
  @apply text-zinc-200 stroke-zinc-500 fill-zinc-500;
}

._chartistry_tooltip {
  @apply !p-3 !bg-zinc-700/40 !rounded !border-none;
  backdrop-filter: blur(8px);
  transform: translateY(-50%) translateX(117%) !important;
}

@layer components {
  .menu-button {
    @apply inline-flex justify-start items-center box-border;
    @apply w-full h-10 px-3 py-1 rounded;
    @apply text-white text-base font-semibold hover:bg-zinc-700 transition-all ease-linear duration-200;
  }

  .menu-button>svg {
    @apply stroke-zinc-400;
  }

  .menu-button> :first-child {
    margin-right: 0.75rem;
  }

  .menu-button> :last-child {
    margin-left: auto;
  }
}

/* Container to position the toasts */
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

/* Toast styles */
.toast {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  animation:
    slide-in 0.5s ease-out forwards,
    fade-out 0.5s 3.5s ease-out forwards;
}

/* Keyframes for sliding in */
@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for fading out */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

#mainTitle:hover {
  transform: rotate(2deg);
}

a[aria-current] {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/mountains2.webp") center / cover no-repeat fixed;
  z-index: -1;
}

nav a {
  /* microsoft docs blue */
  color: #75b6e7;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

nav a:hover {
  color: #278cda;
  text-decoration: underline;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    @apply bg-white text-zinc-900;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 60%,
        rgba(255, 255, 255, 0) 100%),
      url("images/mountains4.webp") center / cover no-repeat fixed;
    z-index: -1;
    translate: 0 10px;
  }

  nav a {
    text-decoration: none;
    color: #0065b3;
  }

  nav a:hover {
    color: #0065b3;
    text-decoration: underline;
  }
}

/* code { */
/*   font-family: */
/*     JetBrains Mono, */
/*     monospace; */
/*   font-size: 1rem; */
/*   color: #75b6e7; */
/*   background-color: rgb(117 182 231 / 0.3); */
/*   padding-top: 0.125rem; */
/*   padding-bottom: 0.125rem; */
/*   padding-left: 0.25rem; */
/*   padding-right: 0.25rem; */
/*   border-radius: 0.25rem; */
/* } */

/* ::backdrop { */
/*   --tw-border-spacing-x: 0; */
/*   --tw-border-spacing-y: 0; */
/*   --tw-translate-x: 0; */
/*   --tw-translate-y: 0; */
/*   --tw-rotate: 0; */
/*   --tw-skew-x: 0; */
/*   --tw-skew-y: 0; */
/*   --tw-scale-x: 1; */
/*   --tw-scale-y: 1; */
/*   --tw-pan-x: ; */
/*   --tw-pan-y: ; */
/*   --tw-pinch-zoom: ; */
/*   --tw-scroll-snap-strictness: proximity; */
/*   --tw-gradient-from-position: ; */
/*   --tw-gradient-via-position: ; */
/*   --tw-gradient-to-position: ; */
/*   --tw-ordinal: ; */
/*   --tw-slashed-zero: ; */
/*   --tw-numeric-figure: ; */
/*   --tw-numeric-spacing: ; */
/*   --tw-numeric-fraction: ; */
/*   --tw-ring-inset: ; */
/*   --tw-ring-offset-width: 0px; */
/*   --tw-ring-offset-color: #fff; */
/*   --tw-ring-color: rgb(59 130 246 / 0.5); */
/*   --tw-ring-offset-shadow: 0 0 #0000; */
/*   --tw-ring-shadow: 0 0 #0000; */
/*   --tw-shadow: 0 0 #0000; */
/*   --tw-shadow-colored: 0 0 #0000; */
/*   --tw-blur: ; */
/*   --tw-brightness: ; */
/*   --tw-contrast: ; */
/*   --tw-grayscale: ; */
/*   --tw-hue-rotate: ; */
/*   --tw-invert: ; */
/*   --tw-saturate: ; */
/*   --tw-sepia: ; */
/*   --tw-drop-shadow: ; */
/*   --tw-backdrop-blur: ; */
/*   --tw-backdrop-brightness: ; */
/*   --tw-backdrop-contrast: ; */
/*   --tw-backdrop-grayscale: ; */
/*   --tw-backdrop-hue-rotate: ; */
/*   --tw-backdrop-invert: ; */
/*   --tw-backdrop-opacity: ; */
/*   --tw-backdrop-saturate: ; */
/*   --tw-backdrop-sepia: ; */
/*   --tw-contain-size: ; */
/*   --tw-contain-layout: ; */
/*   --tw-contain-paint: ; */
/*   --tw-contain-style: ; */
/* } */

/* .floating-menu dialog[open] { */
/*   opacity: 1; */
/*   transform: scale(1); */
/* } */

.floating-menu dialog {
  opacity: 0;
  transform: scale(0.5);
  transition: all 300ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

@starting-style {
  .floating-menu dialog[open] {
    opacity: 1;
    transform: scale(1);
  }
}

/* Open state of the dialog */
dialog[open] {
  opacity: 1;
  transform: scale(1);
}

/* Closed state of the dialog */
dialog {
  opacity: 0;
  transform: scale(0.5);
  transition: all 300ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

/* Before-open state */
/* Needs to be after the previous dialog[open] rule to take effect, */
/* as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog[open]::backdrop {
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 25%);
  /* background-image: linear-gradient(to top right, */
  /*     rgb(245 158 11 / 0.3), */
  /*     rgb(59 130 246 / 0.3)); */
}

dialog::backdrop {
  backdrop-filter: blur(0px);
  background-color: rgb(0 0 0 / 0%);
  transition: all 150ms cubic-bezier(0, 0, 0, 1) allow-discrete;
}

/* This starting-style rule cannot be nested inside the above selector */
/* because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  dialog[open]::backdrop {
    backdrop-filter: blur(0px);
    background-color: rgb(0 0 0 / 0%);
  }
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.btn {
  @apply font-bold py-2 px-4;
}

.success {
  background-color: green;
}

.error {
  color: #efd9fd;
  background-color: #3b2e58;
  border: 1px solid #3b2e58;
  padding: 1rem 1rem;
}

.error p,
ul {
  margin-block: 0;
}

.fadeIn {
  animation: 300ms fadeIn cubic-bezier(0.2, 0, 0, 1);
  /* Hold final state of animation */
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: 150ms fadeOut cubic-bezier(0.3, 0.1, 1, 1);
  /* Hold final state of animation */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* transitionTimingFunction: { */
/* 	'standard': 'cubic-bezier(0.2, 0, 0, 1)', */
/* 	'standard-decelerate': 'cubic-bezier(0, 0, 0, 1)', */
/* 	'standard-accelerate': 'cubic-bezier(0.3, 0.1, 1, 1)', */
/* 	'emphasized-decelerate': 'cubic-bezier(0.05, 0.7, 0.1, 1.0)', */
/* 	'emphasized-accelerate': 'cubic-bezier(0.3, 0.0, 0.8, 0.15)' */
/*  'easy-ease': 'cubic-bezier(0.33, 0, 0.67, 1)' */
/* } */

.slideIn {
  animation: 450ms slideIn cubic-bezier(0.2, 0, 0, 1);
}

.slideOut {
  animation: 200ms slideOut cubic-bezier(0.2, 0, 0, 1);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(100px, 0px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    opacity: 0;
    transform: translate(-100px, 0);
  }
}

.slideInBack {
  animation: 450ms slideInBack cubic-bezier(0.2, 0, 0, 1);
}

.slideOutBack {
  animation: 200ms slideOutBack cubic-bezier(0.2, 0, 0, 1);
}

@keyframes slideInBack {
  from {
    opacity: 0;
    transform: translate(-100px, 1);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideOutBack {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    opacity: 0;
    transform: translate(100px, 0);
  }
}

/* View Transitions CSS */

.router-outlet-0 main {
  view-transition-name: main;
}

.router-back main {
  view-transition-name: main-back;
}

.router-outlet-1 .pools-group {
  view-transition-name: outlet-1;
}

.router-outlet-2 .pool-tab-group {
  view-transition-name: outlet-2;
}

.router-outlet-3 .liquidity-group {
  view-transition-name: outlet-3;
}

::view-transition-old(outlet-1) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both scale-out;
}

::view-transition-new(outlet-1) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both scale-in;
}

::view-transition-old(outlet-2) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(outlet-2) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* ::view-transition-old(main) { */
/*   animation: 200ms slideOut cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-new(main) { */
/*   animation: 450ms slideIn cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-old(main-back) { */
/*   color: red; */
/*   animation: 200ms slideOutBack cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */
/**/
/* ::view-transition-new(main-back) { */
/*   color: blue; */
/*   animation: 450ms slideInBack cubic-bezier(0.2, 0, 0, 1); */
/*   animation-fill-mode: forwards; */
/* } */

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(30px);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-30px);
  }
}

@keyframes scale-in {
  from {
    transform: scale(80%);
  }
}

@keyframes scale-out {
  to {
    transform: scale(110%);
  }
}

::view-transition-old(main) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(main) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-old(main-back) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
}

::view-transition-new(main-back) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

::view-transition-old(outlet-3) {
  animation:
    90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(outlet-3) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* ::view-transition-old(main), */
/* ::view-transition-new(main) { */
/*   animation-duration: 1s; */
/* } */
/**/
/* ::view-transition-old(outlet-1), */
/* ::view-transition-new(outlet-1) { */
/*   animation-duration: 0.5s; */
/* } */
/**/
/* ::view-transition-old(outlet-2), */
/* ::view-transition-new(outlet-2) { */
/*   animation-duration: 0.25s; */
/* } */
/**/
/* ::view-transition-old(outlet-3), */
/* ::view-transition-new(outlet-3) { */
/*   animation-duration: 0.15s; */
/* } */

@media (prefers-reduced-motion) {

  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
